.login-form {
  width: auto;
  height: fit-content;
  padding: 10px 20px;
  margin: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 30px;
}

.input {
  margin: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 1px solid #282c34;
}

.submit-button,
.reset-button {
  width: 60px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin: 5px;
  padding: auto 10px;
  border-radius: 10px;
  transition: transform 0.15ds;
}

.submit-button:hover,
.reset-button:hover {
  transform: scale(1.05);
}

.submit-button:active,
.reset-button:active {
  opacity: 0.5;
}

.submit-button {
  border: none;
  background-color: #282c34;
  color: #fff;
}

.reset-button {
  background-color: transparent;
  border: 1px solid #282c34;
  color: #282c34;
}
