.login-form {
  width: auto;
  height: fit-content;
  padding: 10px 20px;
  margin: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 30px;
  flex-wrap: wrap;
}

.login-status {
  width: auto;
  height: fit-content;
  padding: 5px 10px;
  margin: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 15px;
  flex-wrap: wrap;
  transition: all 0.5s;
  opacity: 0;
}

.login-status.active {
  animation-name: toast;
  animation-duration: 3s;
}

.login-status.fail {
  background-color: rgb(255, 71, 71);
  color: #fff;
}

@keyframes toast {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.input {
  margin: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 1px solid #282c34;
}

.submit-button,
.reset-button {
  width: 60px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin: 5px;
  padding: auto 10px;
  border-radius: 10px;
  transition: transform 0.15ds;
}

.submit-button:hover,
.reset-button:hover {
  transform: scale(1.05);
}

.submit-button:active,
.reset-button:active {
  opacity: 0.5;
}

.submit-button {
  border: none;
  background-color: #282c34;
  color: #fff;
}

.reset-button {
  background-color: transparent;
  border: 1px solid #282c34;
  color: #282c34;
}

.registration-message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 220px;
}

.registration-message a {
  color: #fff;
  text-decoration: none;
}

.registration-message a:hover {
  color: #61dafb;
}
